/* FIRST TASK OF LESSON 7 */
.nav1 ul li a:hover {
  color: red;
}

/* SECOND TASK OF LESSON 7 */
.nav2 ul li a {
  border: 1px solid blue;
  border-radius: 3px;
  font-weight: 100;
  color: blue;
  padding: 4px;
  margin: 3px;

  display: block;
  width: 200px;
  text-decoration: none;
}
.nav2 ul li a:hover {
  border: 1px solid blue;
  border-radius: 3px;
  font-weight: 900;
  color: blue;
  padding: 4px;
  margin: 3px;
}
.nav2 ul li {
  display: block;
}

/* SECOND TASK OF LESSON 7 */
.nav3 ul li a {
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 900;
  color: black;
  background: white;
  padding: 4px;
  margin: 3px;
  transition: 3s;
  display: block;
  width: 200px;
  text-decoration: none;
}
.nav3 ul li a:hover {
  border: 1px solid black;
  border-radius: 3px;
  font-weight: 900;
  color: white;
  background: black;
  padding: 4px;
  margin: 3px;
}
.nav3 ul li {
  display: block;
}
