.section-one {
  border: 1px solid black;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-two {
  border: 1px solid black;
  width: 100vw;
  height: 50vh;
  display: flex;
}
.section-two div {
  height: 100%;
  border: 1px solid black;
  flex: 1 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inline {
  display: inline;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center a {
  margin: 30px;
  padding: 10px;
  border: 1px solid black;
  background: gray;
  border-radius: 5px;
}
img {
  max-height: 100%;
  max-width: 100%;
}
/* ## ANTRA UZDUOTIS */
.parent-block {
  width: 100vw;
  height: 100vh;
}
.block-1-2 {
  width: 300px;
  height: 300px;
  padding: 30px;
  border: 4px solid red;
}

.block-3 {
  width: 45%;
  height: 100px;
  background: lightgray;
}
.block-4 {
  height: 250px;
  width: 200px;
  border: 5px solid green;
  background: url("https://www.stockvault.net/data/2019/12/18/271882/thumb16.jpg");
  background-size: contain;
}
.block-5 {
  width: 200px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}
