/*
iki 480px => red	
nuo 480px iki 800px => green	
nuo 800px => blue
*/
body {
  color: red;
}
@media only screen and (min-width: 480px) and (max-width: 800px) {
  body {
    color: green;
  }
}
@media only screen and (min-width: 800px) {
  body {
    color: blue;
  }
}
