.flex {
  display: flex;
  width: 100%;
}
.orange {
  flex-direction: column;
}
.orange article {
  background: orange;
  height: 7vh;
  margin: 5px;
  flex-grow: 1;
}
.yellow {
  background: yellow;
  height: 15vh;
  margin: 5px;
  width: calc(100%-10px);
}
.blue {
  flex-direction: column;
}
.blue article {
  background: blue;
  height: 10vh;
  margin: 5px;
  flex-grow: 1;
}
.gray article {
  background: gray;
  height: 10vh;
  margin: 5px;
  flex-grow: 1;
  display: none;
}
.gray article:first-child {
  display: block;
}

/* SECOND TASK OF LESSON 9 START */
.nav2 ul li a {
  border: 1px solid blue;
  border-radius: 3px;
  font-weight: 100;
  color: blue;
  padding: 4px;
  margin: 3px;
  flex-grow: 1;
  display: block;
  width: 200px;
  text-decoration: none;
}
.nav2 ul li a:hover {
  border: 1px solid blue;
  border-radius: 3px;
  font-weight: 900;
  color: blue;
  padding: 4px;
  margin: 3px;
}
.nav2 ul li {
  display: block;
  display: flex;
}
.nav2 ul {
  padding: 0px;
  list-style-type: none;
}

/* SECOND TASK OF LESSON 9 START */

@media only screen and (min-width: 786px) and (max-width: 1024px) {
  /* SECOND TASK OF LESSON 9 START */
  .nav2 ul li a {
    flex-grow: 0;
  }
  /* SECOND TASK OF LESSON 9 END */
  .yellow {
    height: 25vh;
  }
  .blue article {
    height: 7vh;
  }
  .gray {
    flex-wrap: wrap;
  }
  .gray article {
    display: block;
    width: 40%;
  }
}
@media only screen and (min-width: 1024px) {
  .orange {
    flex-direction: row;
  }
  .orange article {
    height: 15vh;
  }
  .yellow {
    height: 30vh;
  }
  .blue {
    flex-direction: row;
  }
  .blue article {
    height: 20vh;
  }
  .gray article {
    height: 20vh;
    display: block;
    width: 20%;
  }
}
